<div class="container-fluid">
    <div class="row">
        <h1>
            My home projects
        </h1>
        <div class="col-12 col-md-6">
            <p>
                First of all, I am happy to share my sewing app, the <a href="https://sewlist2.web.app/">Sewlist</a>.
            One of my hobbies is sewing - but since my drawing skills are way behind my creativity 
            in using my fabrics, planning was realy hard. So I made this site, I drew my favourite patterns and built up an environment where I can upload my photoes of my fabrics, or can add them. 
            <br>
            It works well on Windows and Android, 
            which were the main purposes.<br>
            It uses Firebase as a backend.
            <br> You can check the code out at <a href="https://github.com/tocsi1000/sewList"> sewlist on GitHub</a>.
            </p>
        </div>

        <div class="col-12 col-md-6">
            <p>
                Secondly, my 'I only have 1-2 hours, what should I do' website, where I uploaded a 
                couple of <a href="https://tocsi1000.github.io/minigames/">minigames</a>.
                The code can be seen right here: <a href="https://github.com/tocsi1000/minigames">minigames on GitHub</a> </p>
            </div>
        
    </div>
    <div class="row">
         <h1>Contact me</h1>
        <div class="col-12">
            <p>You can contact me at jakucsr@gmail.com, or on <a href="https://www.linkedin.com/in/rita-b%C3%A1rtfay-68b249119/">LinkedIn</a>.</p>
        </div>
    </div>
</div>