<div class="container-fluid">
    <h2>My current job</h2>
    <div class="row">
        <div class="col-12 col-md-4 d-flex align-items-center">
            <img src="assets/bg2.png" width="100%" >
        </div>
        <div class="col-12 col-md-8">
        
        <p>I work at <a href="https://skoll.hu/en/home/">Skoll Learning Technologies</a> as an e-learning developer since 2018. My role inculdes:</p>
        <ul>
            <li>
                Mentoring beginners in our OFA Programming for beginners course 
                <ul>
                    <li>The course topics are: Microbit, Scratch, MIT App Inventor, <b>Python, JavaScript, HTML</b> and <b>CSS</b>.</li>
                    <li>
                        helping students in many different ways including debugging, giving new tasks or helping them how to start or solve an excercise
                    </li>
                    <li>keeping online meetings where the students can ask, share their screens and I help them find errors</li>
                    <li>leading new miniprojects within the meetings</li>
                    <li>I took part in lectoring the curriculum</li>
                </ul>
            </li>
            <li>
                developing highly interactive learning contents from basic documents such as word documents or pdf-s
            </li>
            <li>
                developing UX and UI, including minigames in each course we have
            </li>
        </ul>
        </div>
    </div>
    <div class="row">
    <div class="col-12">
        <h2>
            Past
        </h2>
        <ul>
            <li>2019-2023. Maternity leave</li>
            <li>2016-2018. <a href="https://scheiber.hu/">Scheiber Sándor Gimnázium és Általános Iskola</a>, role: special teacher</li>
            <li>2015-2016. <a href="https://www.lonyayrefi.hu/">Lónyay Utcai Reforrmátus Gimnázium</a>, role: special teacher's assisant</li>
            <li>2013-2019. Teacher at mathematics camp at <a href="https://fazekas.hu/">Budapesti Fazekas</a></li>
        </ul>
        </div>
    </div>
</div>

