$color1: #3c4a37;
$color2: #e68302;
$color3: #5e7555;


.nav-link{
    color:white;
}
.nav-link:hover {
    background-color: $color3;
}

.navbar-nav .nav-link.active{
    background-color: $color2;
    color:white;
}

.navbar-brand {
    background-color: $color3;
    opacity: 80%;
}