<div class="container-fluid">
    <div class="row">
    <div class="col-12">
        <h1>Welcome to my CV site!</h1>
        <h2><i>You might not think that programmers are artists, but programming is an extremely creative profession. It is logic-based creativity. – John Romero</i></h2>
        <h3>Who am I?</h3>

        <p>
            <img src='assets/bg.png'>
            I am <b>Rita Bártfay</b>, an enthusiestic junior Angular developer, looking forward to every new challenges!<br>
            I first learnt programming at high school, but after graduation, I chose to leave developing as a hobby. 
            <br>
            After a couple of years I realised, special educations can't give me the logic-based challenges I desperately need, so I applied for a job as an e-learning developer. My favourite tasks were the ones including some frontend developement tasks.
            When I was on maternity leave, I fall in love with <b>Angular</b>, so I spent every free second I had with learning. I went through an Angular course on Udemy. I have made a couple of home projects, some of them can be found at <a href="portfolio/projects">Projects & links</a>.
        
        </p>
        <h3>What do I already know?</h3>
        <ul>
            <li>Angular, including:
                <ul>
                    <li>HTML</li>
                    <li>CSS, SCSS</li>
                    <li>TypeScript</li>
                </ul>
            </li>
            <li>JavaScript</li>
            <li>A hint of Python</li>
            <li>GitHub</li>
            <li>Bootstrap</li>
            <li>Firebase</li>
            <li>CleanCode</li>
            <li>OOP</li>
        </ul>
    </div>
    </div>
    <div class="box">
        <div class="row">
            <div class="col-12 col-sm-3"><img style="width:100%; height:auto; margin: 2px;" src="assets/me.JPG"></div>
            <div class="col-12 col-sm-9" style="margin:auto">
                
                <h3>Why me?</h3>
                <p>
                    I am aware of the fact you can get a much more experienced programer. Easily. On the other hand, </p>    
                    <ul> 
                        <li>I  am a fast-learner, and eager to learn more. I don't give up, I try and try harder. Never fail.</li>
                        <li>I am reliable - sometimes rather Stahanovist. You don't have to worry, I keep all the deadlines;</li>
                        <li>I am a maximalist. I keep the product in my focus, never make excuses. I have two kids, since january, I was on sick leave for 7 days (in total). I usually chose to work from home when it's possible.</li>
                        <li>One of my favourite parts in TypeScript is that I can add strict types. I use them regularly.</li>
                        <li>I solve my problems all by myself, also not afraid to ask when needed.</li>
                        <li>I didn't choose developement because of the money. When I was teaching, I missed the problemsolving that I was pretty good at for years.</li>
                    </ul>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-12">
            <h3>Disadvantages - what do you win or loose</h3>
            <p>
                Of course, I am not a Ferrari, not even a Porche. I never will be. <br>
                My No.1 job is being a mother of two wonderful kids, both under the age of 4. As they are quite small, 
                there will be times when I need to stay at home with them unexpectedly. On rare occasions, 
                I get a call from either the nursery or the kindergarten, and need to collect them in the middle of the day ASAP. 
                Although in our family there are several people we can rely on, 
                there are times when a kid needs their mother. Does not happen too many times, 
                I try my best to manage homeoffice when they only have a runny nose. Even if I have to go to sick leave, 
                I finish my tasks every single time. I never use them as excuses, but there are several times when I need to be with them.<br>
                If being a mother is a problem, I'm not the best choice.<br>
                
                I don't have a degree in IT - sadly, when I was 18, I didn't even think about being a programmer. I regret it every day, if I could go back, I'd convince my 18-year-old self, but that ship has sailed. 
                <br> 
                Sticking to the cars, I am more than a kiddie car. I am a Wolksvagen. 
                I am reliable, has enough room for every task, for a decent amount of money, includes the required basics at the beginning, nothing luxury though. You can always buy extras, planty of spots to add improvements.<br>
                <br>
                <b>I only need an employer who lets me proove that!</b>
            </p>
        </div>
        
        </div>
</div>
