<div class="container-fluid" style="height:100vh;
                                    background-size: 100%;
                                    background-repeat:no-repeat; 
                                    background-image:url('https://images.unsplash.com/photo-1580582932707-520aed937b7b?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8Mnx8c2Nob29sJTIwcm9vbXxlbnwwfHwwfHx8MA%3D%3D&w=1000&q=80');">
    <div class="row">
    <div class="col-md-4 mycol">
        <h2>University</h2>
        <p>Eötvös Loránd Tudományegyetem Bárczi Gusztáv Gyógypedagógiai Kar</p>
    </div>
    <div class="col-md-3 mycol">
        <h2>High school:</h2>
        <p>Budapesti Fazekas Mihály Gyakorló Általános Iskola és Gimnázium</p>
    </div>
    <div class="col-md-4 mycol">
        <h2>Else</h2>
        <ul>
            <li>OFA course in <b>Programming</b></li>
            <li>a Udemy course in <b>Angular</b></li>
            <li>I also did an OKJ programme in special educations</li>
            <li>A nursery leadership course</li>  
        </ul>
    </div>
    </div>
</div>



